.purple {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 180px;
  height: 60px;

  border-radius: 0.125rem;

  position: relative;

  border: 4px solid var(--purple);
  box-shadow: 6px 6px 20px rgba(102, 16, 242, 0.3);

  transition: padding 0.3s;

  overflow: hidden;

  z-index: 100000;
}

.purple::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(102, 16, 242, 0.3);
  transform: translateX(-100%);
  transition: all 1s;

  z-index: -1;
}

.purple:hover::before {
  transform: translateX(0);
}

.purple:hover {
  color: #fff;
}

.pink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 180px;
  height: 60px;

  border-radius: 0.125rem;

  position: relative;

  border: 4px solid var(--pink);
  box-shadow: 6px 6px 20px rgba(242, 16, 193, 0.3);

  transition: padding 0.3s;

  overflow: hidden;

  z-index: 100000;
}

.pink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 16, 193, 0.3);
  transform: translateX(-100%);
  transition: all 1s;
  z-index: -1;
}

.pink:hover::before {
  transform: translateX(0);
}

.pink:hover {
  color: #fff;
}
