.card {
  padding-right: 2rem;

  h3 {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    color: var(--text);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;

    max-width: 80%;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
    color: var(--title);
    font-size: 0.9rem;
    font-weight: 500;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 1rem;

    max-width: 300px;

    padding: 0.5rem 1rem;
    margin-top: 3rem;

    border-radius: 0.125rem;

    background: var(--background);

    border: 4px solid var(--blue-green);
    box-shadow: 2px 2px 5px rgba(16, 121, 242, 0.3);

    transition: padding 0.3s;
    &:hover {
      padding: 0.5rem 3rem;
    }
  }
}
