* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #151515;
  --section: #121212;
  --title: #00d2df;
  --title-white: #fff;
  --subtitle: #e5e5e5;
  --purple: #9358f7;
  --dark-purple: #6518b4;
  --blue-green: #10d7e2;
  --pink: #d24074;
  --text: #c4c4c4;
  --button: #fff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

.container {
  width: min(90%, 1120rem);
  margin: auto;
}

body {
  background: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
select,
button,
p {
  font: 400 1rem "Inter", sans-serif;
  color: var(--text);
}

h1 {
  font: 600 1.5rem "Sora", sans-serif;
  color: var(--title);
}

h2,
h3,
h4,
h5,
h6 {
  font: 600 1.5rem "Sora", sans-serif;
  color: var(--title-white);
}

h2 {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;

  font: 600 1rem "Inter", sans-serif;
  color: var(--button);
}
